* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #f5f5f5;
}
/* navbar */
#navbar {
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 30;
}
.nav-container {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
}
#logo {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
}
#logo span {
  font-weight: bold;
}
#logo p {
  padding-top: 5px;
  display: block;
  width: 200px;
}
.logo-title {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 0.63rem;
  margin-top: -10px;
}
#menu {
  float: right;
  padding-top: 10px;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  float: left;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
#menu ul li a {
  text-decoration: none;
  color: black;
  padding: 6px;
  line-height: 1.5;
}
.current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #951e82 solid 3px;
  transition: all 0.5s ease-out;
}
.current:hover::after {
  transform: translateX(110px);
}

/* menu ANIMATION */
#menu ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #e298d6 3px solid;
  transform: translatex(-110px);
  transition: all 0.5s ease-in-out;
}
#menu ul li a:hover::before {
  transform: translatex(0);
}
/* Main index */

/* first container */
#first-container {
  position: relative;
  height: 95vh;
  width: 100vw;
  background: url(/img/main-first-container.jpg) center center/cover;
  text-align: center;
}
#main-title {
  position: absolute;
  top: 30%;
  width: 100vw;
  text-align: center;
}
#main-title h1 {
  margin-left: -21px;
  font-size: 3rem;
  margin-bottom: -13px;
  text-align: center;
}
#main-title p {
  font-weight: 300;
  padding-top: 10px;
}
/* second contianer */
.first-banner {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: -20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-banner h2 {
  color: white;
  padding-top: 20px;
}
/* balls */
#balls-container {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
}
.spec-container {
  height: 200px;
  width: 150px;
  position: relative;
  text-align: center;
  margin-left: 40px;
  transition: all 0.4s ease-in;
}
.spec-container .big-ball {
  width: 150px;
  height: 150px;
  background: grey;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease-in;
}
.big-ball img {
  height: 40px;
}
.spec-container:hover > .big-ball {
  background: #a3055f;
  transition: all 0.4s ease-in;
}
.spec-container:hover > .small-ball {
  background: #e298d6;
  transition: all 0.4s ease-in;
  color: black;
}
.spec-container h5 {
  padding-top: 10px;
}

#insta {
  height: 60px;
  margin-top: 50%;
  transform: translatey(-50%);
}

#branding {
  height: 60px;
  margin-top: 50%;
  transform: translatey(-50%);
}
#slogan {
  height: 20px;
  margin-top: 50%;
  transform: translatey(-50%);
}
.spec-container .small-ball {
  width: 50px;
  height: 50px;
  background: #a3055f;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
  transition: all 0.4s ease-in;
}
/* third container */
#third-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#third-container h3 {
  text-align: center;
  padding-bottom: 20px;
}
.second-banner {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: 20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-banner h2 {
  color: white;
}

.left-graph,
.right-graph {
  width: 450px;
  position: relative;
  height: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row {
  width: 90%;
  height: 40px;
  /* background: blue; */
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}
.row h5 {
  font-size: 1rem;
  margin-left: 10px;
  padding-top: 2px;
}
.row h6 {
  font-size: 0.5rem;
  margin-top: -2px;
  margin-left: 10px;
}
.column {
  width: 1px;
  height: 83%;
  background: black;
  position: absolute;
  bottom: 0;
}
.row-1 {
  background: #951e82;
}
.row-2 {
  background: #9b9b9b;
  padding-top: 5px;
}
.row-3 {
  background: #a83f80;
  padding-top: 5px;
  width: 54%;
}
.row-4 {
  background: #616161;
  width: 72%;
}
.row-5 {
  background: #d4a1c3;
  padding-top: 5px;
  width: 36%;
}
.clm-1 {
  left: 18%;
}
.clm-2 {
  left: 36%;
}
.clm-3 {
  left: 54%;
}
.clm-4 {
  left: 72%;
}
.clm-5 {
  left: 90%;
}
.title-1 {
  position: absolute;
  top: 40px;
  left: 36%;
  transform: translate(-50%);
}
.title-2 {
  position: absolute;
  top: 40px;
  left: 54%;
  transform: translate(-50%);
}
.title-3 {
  position: absolute;
  top: 40px;
  left: 72%;
  transform: translate(-50%);
}
.title-4 {
  position: absolute;
  top: 40px;
  left: 90%;
  transform: translate(-50%);
}
.right-graph .row h5 {
  line-height: 1.2;
  font-size: 0.8rem;
}
.right-graph .row-1 {
  padding-top: 5px;
  width: 72%;
}
.right-graph .row-2 {
  padding-top: 5px;
  width: 90%;
}
.right-graph .row-3 {
  padding-top: 5px;
  width: 72%;
}
.right-graph .row-4 {
  padding-top: 10px;
  width: 90%;
}
.right-graph .row-5 {
  padding-top: 5px;
  width: 90%;
}
/* fourth-container */
.third-banner {
  background: grey;
  width: 110vw;
  height: 80px;
  margin-left: -5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-banner h2 {
  color: white;
}
.logos-container {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.logos-container img {
  width: 70px;
  position: absolute;
  bottom: 0;
}
.mitsu img {
  width: 50px !important;
}
.nivea img {
  padding-bottom: 5px;
}
.atwork img {
  width: 50px !important;
}
.logo-container {
  width: 90px;
  height: 100px;
  position: relative;
  margin-right: 30px;
}
/* footer */
footer {
  background-color: #a3055f;
  position: relative;
}
#footer-container {
  /* width: 80vw;
  margin-left: 10vw; */
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.footer-container-1 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.footer-container-1 ul {
  list-style: none;
  padding-top: 10px;
}
.footer-container-1 ul li {
  float: left;
  margin-right: 10px;
}
.footer-container-1 button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.footer-container-1 button:hover {
  background-color: grey;
}
.footer-container-1 button img {
  height: 20px;
}
.footer-container-1 h3 {
  padding-left: 10px;
  color: white;
}
.footer-fb {
  height: 25px !important;
  margin-left: -2px;
  margin-top: 2px;
}

.footer-container-2 p {
  line-height: 1.2;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: white;
}
.footer-container-2 {
  padding-top: 12px;
}
#copyright {
  margin-left: 10px;
  color: rgb(207, 207, 207);
}
#credits {
  color: rgb(207, 207, 207);
}
/* about me */
#about-first {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(/img/about-first-container.png) center center/cover;
  text-align: center;
}
/* about first */
#about-first-container {
  position: absolute;
  left: 10vw;
  top: 50%;
  transform: translatey(-50%);
  width: 40vw;
  min-width: 300px;
  text-align: left;
}
#about-first-container p {
  font-weight: 300;
}
#about-first-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  background: transparent;
  width: 160px;
  padding: 5px;
  border: black 3px solid;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#about-first-container button:hover {
  background: black;
  color: white;
  transition: all 0.5s ease-in-out;
}

/* about second */
.about-first-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-first-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-second {
  width: 100vw;
  position: relative;
  display: block;
  height: 100vh;
  max-height: 650px;
}
#about-second img {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -2;
}
#start-story {
  color: black;
  width: 650px;
  /* width: 55vw; */
  position: absolute;
  left: 10vw;
  top: 170px;
  background: #f5f5f5;
  padding: 20px;
}
#start-story p {
  font-size: 0.9rem;
}
/* third about */
.about-second-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-second-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-third {
  width: 100vw;
  height: 90vh;

  max-height: 650px;
  position: relative;
}
#about-third img {
  position: absolute;
  height: 70vh;
  left: 0;
  top: 40px;
  z-index: -2;
}
#second-story {
  color: black;
  width: 650px;
  position: absolute;
  right: 10vw;
  top: 170px;
  /* transform: translatey(-50%); */
  background: #f5f5f5;
  padding: 20px;
}
#second-story p {
  font-size: 0.9rem;
}
/* fourth about */
.about-third-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-third-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-fourth {
  width: 100vw;
  height: 100vh;

  max-height: 650px;
  position: relative;
}
#about-fourth img {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -2;
}
#end-story {
  color: black;
  width: 650px;
  /* width: 55vw; */
  position: absolute;
  left: 10vw;
  top: 220px;
  background: #f5f5f5;
  padding: 20px;
}
#end-story p {
  font-size: 0.9rem;
}
/* fifth about */
#fifth-about {
  height: 100vh;
}
.about-fourth-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -62px;
  text-align: center;
  /* padding-top: 25px; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-fourth-banner h2 {
  color: white;

  font-size: 1rem;
}
#fifth-about h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 2.5rem;
}
#fifth-about a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #a3055f;
  padding: 8px 15px;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 1.3rem;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#fifth-about a:hover {
  background-color: grey;
}
/* education */
#first-edu {
  height: 98vh;
  width: 100vw;
  background: url(/img/experiance-bg.jpg) center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#first-edu img {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -3px;
}
#first-edu h1 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.4rem;
}
/* second edu */
.edu-banner {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: -20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-banner h2 {
  color: white;
  padding-top: 10px;
  width: 100%;
}
#second-edu {
  display: inline-block;
  height: 90vh;
}
#full-container {
  display: block;
  position: relative;
  width: 100vw;
}

.work-container1 {
  width: 32vw;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.work-container2 {
  width: 32vw;
  position: absolute;
  display: block;
  left: 33vw;
  top: 50px;
  transition: all 0.5s ease-in-out;
  margin-top: 2px;
}
.work-container3 {
  width: 32vw;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50px;
  transition: all 0.5s ease-in-out;
  margin-top: 2px;
}
.work-container1:hover {
  width: 100vw;
  z-index: 2;
  background: rgb(71, 71, 71);
}
.work-container2:hover {
  width: 100vw;
  z-index: 2;
  left: 0;
  background: rgb(71, 71, 71);
}
.work-container3:hover {
  width: 100vw;
  z-index: 2;
  background: rgb(71, 71, 71);
}
.work-container1:hover .omg-text {
  color: white;
}
.work-container2:hover .omg-text {
  color: white;
}
.work-container3:hover .omg-text {
  color: white;
}
.work-container1:hover .main-logo img {
  animation: none;
}
.work-container2:hover .main-logo img {
  animation: none;
}
.work-container3:hover .main-logo img {
  animation: none;
}

.main-logo {
  width: 300px;
  margin-left: 50%;
  transform: translate(-50%);
}
.main-logo img {
  width: 300px;
  padding: 40px 0;
  animation: bounce 2s infinite;
}
.omg-text {
  width: 50vw;
  margin-left: -50% !important;
  padding-bottom: 50px;
  color: transparent;
}
.omg-text h2 {
  font-size: 1.3rem;
}
.omg-text h5 {
  font-size: 0.6rem;
}
.omg-text p {
  font-size: 1rem;
}

.work-container2:hover .arrow {
  border: solid white;

  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
.work-container3:hover .arrow {
  border: solid white;

  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
.work-container1:hover .arrow {
  border: solid white;

  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/* education */
#edu-first {
  position: relative;
  width: 100vw;
  height: 98vh;
  background: url(/img/edu-first.png) center center/cover;
}

.edu-title {
  position: relative;
  padding-left: 5vw;
  padding-top: 20%;
  width: 480px;
  font-size: 0.7rem;
}
.edu-title h6 {
  font-size: 0.7rem;
}
.edu-banner1 {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: -20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-banner1 h2 {
  color: white;
  padding-top: 40px !important;
  text-align: center;
}
.edu-banner1 img {
  width: 50px;
  padding-top: 20px;
  margin-right: 20px;
}
#edu-second h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
}
#edu-second h3 {
  font-size: 1.1rem;
}
#edu-second p {
  font-size: 0.8rem;
}
#edu-second h5 {
  font-weight: 400;
  color: grey;
  font-size: 0.6rem;
}
#edu-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.edu-text-left,
.edu-text-right {
  width: 40vw;
  min-width: 500px;
  margin-left: 10px;
}
#edu-second i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
/* edu third */
#edu-third {
  padding-bottom: 50px;
}
.edu-banner2 {
  background: grey;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: 20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-banner2 h2 {
  color: white;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.edu-banner2 img {
  width: 50px;
  padding-top: 5px;
  margin-right: 20px;
}
#edu-third h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
}
#edu-third h3 {
  font-size: 1.1rem;
}
#edu-third p {
  font-size: 0.8rem;
}
#edu-third i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
/* contact me */
#contact-page {
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contact-page h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
#form-left {
  width: 50vw;
  min-width: 400px;
  background: lightgrey;
}
#form-left h1 {
  line-height: 1.2;
}
#form-right {
  width: 50vw;
  min-width: 400px;

  background: url(/img/experiance-first.jpg) center center/cover;
}
#form-right,
#form-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
#form-right h1 {
  text-align: center;
}
#logos-container {
  width: 90%;
  padding-left: 5%;
  display: flex;
  justify-content: space-around;
  height: 70px;
  margin-top: 100px;
}
#logos-container button {
  background: transparent;
  border: none;
  width: 60px;
  height: 60px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#logos-container button:hover > img {
  transform: scale(1.5);
}
#logos-container button img {
  width: 60px;
  height: 60px;
  transition: all 0.5s ease-in-out;
}
#fb-btn img {
  width: 50px !important;
  height: 50px !important;
}
#info-container {
  text-align: center;
  font-weight: 300;
  padding-top: 100px;
}
#info-container span {
  font-weight: bold;
}

/* form animation */

.form {
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.content-name {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.form input {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  padding-top: 20px;
  background-color: transparent;
  margin-top: -5px;
}
.form textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  resize: none;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  outline: none;
}

.form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  border-bottom: 3px solid #a3055f;
  left: -1px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #a3055f;
  font-weight: bold;
}

.form input:focus + .label-name:after,
.form input:valid + .label-name:after {
  transform: translateX(0%);
}
.form textarea:focus + .label-name .content-name,
.form textarea:valid + .label-name .content-name {
  transform: translateY(-300%);
  font-size: 14px;
  color: #a3055f;
}
.big-box {
  height: 170px;
  /* margin-top: -20px; */
}
.big-box textarea {
  height: 130px;
}
.big-box .content-name {
  font-weight: bold;
  margin-bottom: 70px;
}
.message {
}
#submit-btn {
  display: block;
  float: right;
  width: 100px;
  height: 30px;
  background-color: white;
  color: #a3055f;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 2px 0;
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
#submit-btn:hover {
  background-color: #a3055f;
  color: white;
}
.arrow {
  transform: rotate(-45deg);
}

/* Loader */
#pre-loader {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: #f5f5f5;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 300px;
  margin-left: 50%;
  transform: translate(-50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #a3055f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.loader-invisable {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.toggle-invisible {
  display: none !important;
}

/* REsponsive navbar */

#menu1Toggle {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menu1Toggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menu1Toggle a:hover {
  color: tomato;
}

#menu1Toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menu1Toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu1Toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu1Toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu1Toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menu1Toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu1Toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu1 {
  position: absolute;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu1 li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menu1Toggle input:checked ~ ul {
  transform: none;
}

/* responsivity */
@media all and (max-width: 768px) {
  /* home - navbar - footer */
  .footer-container-left h3 {
    font-size: 0.6rem;
  }
  #copyright {
    font-size: 0.7rem !important;
  }
  .footer-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-container-1 h3 {
    padding-left: 0px;
  }
  .footer-container-1 ul {
    display: none;
  }
  .footer-container-2 p {
    font-size: 0.6rem;
  }
  .footer-container-2 {
    padding-top: 0;
    padding-bottom: 10px;
    width: 100vw;
  }
  #credits h6 {
    font-size: 0.5rem !important;
  }
  #copyright {
    position: absolute;
    bottom: 15px;
  }
  .omg-text p {
    overflow-x: hidden;
  }
  .spec-container {
    margin-top: 20px;
  }
  .left-graph,
  .right-graph {
    width: 300px !important;
  }
  .row h5 {
    font-size: 0.6rem !important;
  }
  .left-graph h5 {
    padding-top: 7px !important;
  }
  .logo-container {
    padding-left: 30px;
  }
  #logo {
    position: absolute;
    right: 50%;
    top: 15px;
    z-index: 10;
    transform: translate(50%);
  }
  #navbar {
    height: 70px;
  }
  #navbar ul {
    text-align: center;
  }
  .navbar-hidden {
    display: none;
  }
  .toggle-invisible {
    display: block !important;
  }
  /* about */
  .about-first-banner h2 {
    font-size: 0.7rem;
    width: 90%;
    padding-left: 5%;
  }
  .about-second-banner h2 {
    font-size: 0.7rem;
    width: 90%;
    padding-left: 5%;
  }
  .about-third-banner h2 {
    font-size: 0.7rem;
    width: 90%;
    padding-left: 5%;
  }
  .about-fourth-banner h2 {
    font-size: 0.7rem;
    width: 90%;
    padding-left: 5%;
  }
  #about-second p {
    font-size: 0.8rem;
  }
  #start-story {
    width: 100vw;
    left: 0;
  }
  #second-story {
    width: 100vw;
    left: 0;
  }
  #end-story {
    width: 100vw;
    left: 0;
  }
  #about-third img {
    width: 100vw;
  }
  /* experiance */
  #second-edu {
    display: flex;
  }
  #full-container {
    display: block;

    height: fit-content;
  }
  #second-edu {
    height: fit-content;
    padding-bottom: 50px;
  }
  .work-container1 {
    width: 100vw;
    background-color: grey;
    position: relative;
    margin-bottom: 40px;
  }

  .work-container2 {
    width: 100vw;
    display: block;
    position: relative;
    left: 0;
    background-color: grey;
    margin-bottom: 40px;
  }
  .work-container3 {
    width: 100vw;
    display: block;
    position: relative;

    background-color: grey;
    margin-bottom: 40px;
  }
  .work-container1 img {
    animation: none;
  }
  .work-container2 img {
    animation: none;
  }
  .work-container3 img {
    animation: none;
  }
  .main-logo {
    width: 80vw;
  }
  .main-logo img {
    margin-left: 50%;
    transform: translatex(-50%);
  }
  .main-logo .omg-text {
    margin-left: 50% !important;
    transform: translatex(-50%);
  }
  .omg-text {
    width: 65vw;
    display: block;
    margin-left: 0;
    color: white;
  }
  .omg-text h2 {
    width: 65vw;
    font-size: 0.9rem;
  }
  .omg-text h5 {
    width: 65vw;
    font-size: 0.7rem;
  }
  .omg-text p {
    width: 65vw;
    font-size: 0.8rem;
  }
  /* education */
  #edu-container h2 {
    width: 100vw;
    padding: 0 20px;
  }
  #edu-container h5 {
    width: 100vw;
    padding: 0 20px;
  }
  #edu-container h3 {
    width: 100vw;
    padding: 0 20px;
  }
  #edu-container p {
    width: 100vw;
    padding: 0 20px;
  }
  .edu-text-left,
  .edu-text-right {
    width: 100vw;
    min-width: 0;
    margin-left: 0;
    padding: 40px 0;
  }
  .edu-title {
    width: 300px;
    padding-top: 45vh;
  }

  .edu-title h1 {
    width: 300px;
  }
  /* contact */
  #form-left {
    width: 100%;
  }
  #form-right {
    width: 100%;
  }
}
