* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #f5f5f5;
}
/* navbar */
#navbar {
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 30;
}
.nav-container {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
}
#logo {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
}
#logo span {
  font-weight: bold;
}
#logo p {
  padding-top: 5px;
  display: block;
  width: 200px;
}
.logo-title {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 0.63rem;
  margin-top: -10px;
}
#menu {
  float: right;
  padding-top: 10px;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  float: left;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
#menu ul li a {
  text-decoration: none;
  color: black;
  padding: 6px;
  line-height: 1.5;
}
.current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #951e82 solid 3px;
  transition: all 0.5s ease-out;
}
.current:hover::after {
  transform: translateX(110px);
}

/* menu ANIMATION */
#menu ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #e298d6 3px solid;
  transform: translatex(-110px);
  transition: all 0.5s ease-in-out;
}
#menu ul li a:hover::before {
  transform: translatex(0);
}
/* Main index */

/* first container */
#first-container {
  position: relative;
  height: 95vh;
  width: 100vw;
  background: url(/img/main-first-container.jpg) center center/cover;
  text-align: center;
}
#main-title {
  position: absolute;
  top: 30%;
  width: 100vw;
  text-align: center;
}
#main-title h1 {
  margin-left: -21px;
  font-size: 3rem;
  margin-bottom: -13px;
  text-align: center;
}
#main-title p {
  font-weight: 300;
  padding-top: 10px;
}
/* second contianer */
.first-banner {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: -20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-banner h2 {
  color: white;
  padding-top: 20px;
}
/* balls */
#balls-container {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.spec-container {
  height: 200px;
  width: 150px;
  position: relative;
  text-align: center;
  margin-left: 40px;
  transition: all 0.4s ease-in;
}
.spec-container .big-ball {
  width: 150px;
  height: 150px;
  background: grey;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease-in;
}
.big-ball img {
  height: 40px;
}
.spec-container:hover > .big-ball {
  background: #a3055f;
  transition: all 0.4s ease-in;
}
.spec-container:hover > .small-ball {
  background: #e298d6;
  transition: all 0.4s ease-in;
  color: black;
}
.spec-container h5 {
  padding-top: 10px;
}

#twitter {
  height: 30px;
  position: absolute;
  left: 20px;
  top: 80px;
}
#insta {
  height: 30px;
  position: absolute;
  left: 60px;
  top: 20px;
}
#facebook {
  position: absolute;
  right: 20px;
  top: 70px;
}
#branding {
  height: 60px;
  margin-top: 50%;
  transform: translatey(-50%);
}
#slogan {
  height: 20px;
  margin-top: 50%;
  transform: translatey(-50%);
}
.spec-container .small-ball {
  width: 50px;
  height: 50px;
  background: #a3055f;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
  transition: all 0.4s ease-in;
}
/* third container */
#third-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#third-container h3 {
  text-align: center;
  padding-bottom: 20px;
}
.second-banner {
  background: #a3055f;
  width: 101vw;
  height: 80px;
  margin-left: -1vw;
  margin-top: 20px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-banner h2 {
  color: white;
}

.left-graph,
.right-graph {
  width: 450px;
  position: relative;
  height: 310px;
  margin-top: 20px;
}

.row {
  width: 90%;
  height: 30px;
  /* background: blue; */
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}
.row h5 {
  font-size: 0.8rem;
  margin-left: 10px;
}
.row h6 {
  font-size: 0.5rem;
  margin-top: -2px;
  margin-left: 10px;
}
.column {
  width: 1px;
  height: 80%;
  background: black;
  position: absolute;
  bottom: 0;
}
.row-1 {
  background: #951e82;
}
.row-2 {
  background: #9b9b9b;
  padding-top: 5px;
}
.row-3 {
  background: #a83f80;
  padding-top: 5px;
  width: 54%;
}
.row-4 {
  background: #616161;
  width: 72%;
}
.row-5 {
  background: #d4a1c3;
  padding-top: 5px;
  width: 36%;
}
.clm-1 {
  left: 18%;
}
.clm-2 {
  left: 36%;
}
.clm-3 {
  left: 54%;
}
.clm-4 {
  left: 72%;
}
.clm-5 {
  left: 90%;
}
.title-1 {
  position: absolute;
  top: 40px;
  left: 36%;
  transform: translate(-50%);
}
.title-2 {
  position: absolute;
  top: 40px;
  left: 54%;
  transform: translate(-50%);
}
.title-3 {
  position: absolute;
  top: 40px;
  left: 72%;
  transform: translate(-50%);
}
.title-4 {
  position: absolute;
  top: 40px;
  left: 90%;
  transform: translate(-50%);
}
.right-graph .row h5 {
  line-height: 1.2;
  font-size: 0.5rem;
}
.right-graph .row-1 {
  padding-top: 5px;
  width: 72%;
}
.right-graph .row-2 {
  padding-top: 5px;
  width: 90%;
}
.right-graph .row-3 {
  padding-top: 5px;
  width: 72%;
}
.right-graph .row-4 {
  padding-top: 10px;
  width: 90%;
}
.right-graph .row-5 {
  padding-top: 5px;
  width: 90%;
}
/* fourth-container */
.third-banner {
  background: grey;
  width: 110vw;
  height: 80px;
  margin-left: -5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-banner h2 {
  color: white;
}
.logos-container {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.logos-container img {
  width: 70px;
  position: absolute;
  bottom: 0;
}
.mitsu img {
  width: 50px !important;
}
.nivea img {
  padding-bottom: 5px;
}
.atwork img {
  width: 50px !important;
}
.logo-container {
  width: 90px;
  height: 100px;
  position: relative;
  margin-right: 30px;
}
/* footer */
footer {
  background-color: #a3055f;
  position: relative;
}
#footer-container {
  /* width: 80vw;
  margin-left: 10vw; */
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.footer-container-1 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.footer-container-1 ul {
  list-style: none;
  padding-top: 10px;
}
.footer-container-1 ul li {
  float: left;
  margin-right: 10px;
}
.footer-container-1 button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.footer-container-1 button:hover {
  background-color: grey;
}
.footer-container-1 button img {
  height: 20px;
}
.footer-container-1 h3 {
  padding-left: 10px;
  color: white;
}
.footer-fb {
  height: 25px !important;
  margin-left: -2px;
  margin-top: 2px;
}

.footer-container-2 p {
  line-height: 1.2;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: white;
}
.footer-container-2 {
  padding-top: 12px;
}
#copyright {
  position: absolute;
  bottom: 0;
  left: 10vw;
  color: rgb(207, 207, 207);
}
#credits {
  position: absolute;
  bottom: 0;
  right: 10vw;
  color: rgb(207, 207, 207);
}
/* about me */
#about-first {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(/img/about-first-container.png) center center/cover;
  text-align: center;
}
/* about first */
#about-first-container {
  position: absolute;
  left: 10vw;
  top: 50%;
  transform: translatey(-50%);
  width: 40vw;
  min-width: 300px;
  text-align: left;
}
#about-first-container p {
  font-weight: 300;
}
#about-first-container button {
  background: transparent;
  width: 160px;
  padding: 5px;
  border: black 3px solid;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#about-first-container button:hover {
  background: black;
  color: white;
  transition: all 0.5s ease-in-out;
}

/* about second */
.about-first-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-first-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-second {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#about-second img {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: -2;
}
#start-story {
  color: black;
  width: 650px;
  /* width: 55vw; */
  position: absolute;
  left: 10vw;
  top: 170px;
  background: #f5f5f5;
  padding: 20px;
}
/* third about */
.about-second-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-second-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-third {
  width: 100vw;
  height: 90vh;
  position: relative;
}
#about-third img {
  position: absolute;
  height: 90vh;
  left: 0;
  top: 40px;
  z-index: -2;
}
#second-story {
  color: black;
  width: 650px;
  position: absolute;
  right: 10vw;
  top: 170px;
  /* transform: translatey(-50%); */
  background: #f5f5f5;
  padding: 20px;
}
/* fourth about */
.about-third-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -42px;
  text-align: center;
  /* padding-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-third-banner h2 {
  color: white;
  font-size: 1rem;
}
#about-fourth {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#about-fourth img {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -2;
}
#end-story {
  color: black;
  width: 650px;
  /* width: 55vw; */
  position: absolute;
  left: 10vw;
  top: 220px;
  background: #f5f5f5;
  padding: 20px;
}
/* fifth about */
#fifth-about {
  height: 100vh;
}
.about-fourth-banner {
  background: #a3055f;
  width: 101vw;
  height: 120px;
  margin-left: -1vw;
  margin-top: -62px;
  text-align: center;
  /* padding-top: 25px; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-fourth-banner h2 {
  color: white;

  font-size: 1rem;
}
#fifth-about h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 2.5rem;
}
#fifth-about a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: grey;
  padding: 5px 10px;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}
#fifth-about a:hover {
  background-color: #a3055f;
}
